<!-- My personal settings file -->
<!-- Move to C:\Users\<username>\AppData\Roaming\Kodi\userdata\addon_data\skin.aeon.tajo.nordics -->
<!-- replace <username> with the actual name of the user folder -->
<settings>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="blurenabled" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="verticalmenu" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="disable.autocomplete" type="bool">false</setting>
    <setting id="disable.showbackgroundvideo" type="bool">false</setting>
    <setting id="TMDbHelper.DisableArtwork" type="bool">true</setting>
    <setting id="bannertriplem" type="bool">false</setting>
    <setting id="simpleview" type="bool">false</setting>
    <setting id="showcast" type="bool">true</setting>
    <setting id="enable.startupintro" type="bool">false</setting>
    <setting id="kioskmode.enabled" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="screensavernetflix" type="bool">true</setting>
    <setting id="animatedposters" type="bool">true</setting>
    <setting id="homeanimation" type="bool">false</setting>
    <setting id="autolibrarytags" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="enable.hideratings" type="bool">false</setting>
    <setting id="enable.animatedbackgrounds" type="bool">false</setting>
    <setting id="colorcode" type="bool">true</setting>
    <setting id="shm3d" type="bool">false</setting>
    <setting id="noshow_numitems" type="bool">false</setting>
    <setting id="searchextrasmusic" type="bool">false</setting>
    <setting id="disable.netflix.pause" type="bool">false</setting>
    <setting id="enablecontext:script.artwork.dump" type="bool">false</setting>
    <setting id="disable.videoinfo" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="nolyrics" type="bool">false</setting>
    <setting id="onlybackground" type="bool">false</setting>
    <setting id="characterposters" type="bool">false</setting>
    <setting id="noshow_time" type="bool">false</setting>
    <setting id="weatherfanart.multi" type="bool">false</setting>
    <setting id="enable.autoscroll" type="bool">true</setting>
    <setting id="notime" type="bool">false</setting>
    <setting id="norating" type="bool">false</setting>
    <setting id="playtrailer" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="noshow_watched" type="bool">false</setting>
    <setting id="infobar_hidetuners" type="bool">false</setting>
    <setting id="showwidget" type="bool">true</setting>
    <setting id="clearplaylist" type="bool">false</setting>
    <setting id="infobar_hidesignalinfo" type="bool">false</setting>
    <setting id="animatedpostersmusic" type="bool">false</setting>
    <setting id="bannertriplemovie" type="bool">false</setting>
    <setting id="mag3d" type="bool">false</setting>
    <setting id="weathericons.multi" type="bool">true</setting>
    <setting id="cust_backg" type="bool">false</setting>
    <setting id="toggleplotlivetv" type="bool">false</setting>
    <setting id="blurredalbum" type="bool">true</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="narrowlistm" type="bool">false</setting>
    <setting id="li3d" type="bool">false</setting>
    <setting id="narrowlist" type="bool">false</setting>
    <setting id="videoinfoplottoggle" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="enable.livetvfullplot" type="bool">false</setting>
    <setting id="navfanartview" type="bool">false</setting>
    <setting id="searchextras" type="bool">false</setting>
    <setting id="blurplayericon" type="bool">false</setting>
    <setting id="playtheme" type="bool">false</setting>
    <setting id="bannertriple" type="bool">false</setting>
    <setting id="melodyforhome" type="bool">false</setting>
    <setting id="disable.resumable" type="bool">false</setting>
    <setting id="sh3d" type="bool">false</setting>
    <setting id="3d" type="bool">false</setting>
    <setting id="similars" type="bool">false</setting>
    <setting id="playpreviewm" type="bool">false</setting>
    <setting id="rl3d" type="bool">false</setting>
    <setting id="sh2" type="bool">true</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="multiwall_simple" type="bool">false</setting>
    <setting id="nocd" type="bool">false</setting>
    <setting id="settingcommon" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="tmdbhelper.disablepersonstats" type="bool">false</setting>
    <setting id="disablecontext:script.artwork.downloader" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="anim_panscan" type="bool">false</setting>
    <setting id="noclearart" type="bool">false</setting>
    <setting id="onlinerating" type="bool">true</setting>
    <setting id="extraposters" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="infobar_hidetencrypt" type="bool">false</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="coloured.icons" type="bool">true</setting>
    <setting id="togglelivetvnext" type="bool">false</setting>
    <setting id="disable.musicinfo" type="bool">false</setting>
    <setting id="tmdbhelper.service" type="bool">true</setting>
    <setting id="enableartworkdownloader" type="bool">false</setting>
    <setting id="VideosHomeItem.SubMenu" type="string"></setting>
    <setting id="GamesHomeItem.SubMenu" type="string"></setting>
    <setting id="TVShowHomeItem.Label" type="string"></setting>
    <setting id="WeatherHomeItem.Icon" type="string"></setting>
    <setting id="YoutubeHomeItem.BGType" type="string">1</setting>
    <setting id="Custom10HomeItem.Label" type="string"></setting>
    <setting id="custom19homeitem.disable" type="string"></setting>
    <setting id="RadioHomeItem.disable" type="string"></setting>
    <setting id="SubsMangler_ShowContextItem" type="string">true</setting>
    <setting id="PicturesHomeItem.WidgetLabel" type="string">
</setting>
    <setting id="SettingsHomeItem.WidgetType" type="string"></setting>
    <setting id="ProgramsHomeItem.Widget" type="string"></setting>
    <setting id="Custom7HomeItem.SubMenu" type="string"></setting>
    <setting id="Custom_BG_Path" type="string"></setting>
    <setting id="custom7homeitem.path" type="string"></setting>
    <setting id="Custom11HomeItem.WidgetType" type="string"></setting>
    <setting id="Custom16HomeItem.WidgetType" type="string"></setting>
    <setting id="pictureshomeitem.disable" type="string"></setting>
    <setting id="Custom7HomeItem.MultiFanart" type="string"></setting>
    <setting id="RadioHomeItem.path" type="string">ActivateWindow(Programs,&quot;plugin://plugin.program.super.favourites/?label=Radio&amp;mode=400&amp;path=C%3A%5CUsers%<username>%5CAppData%5CRoaming%5CKodi%5Cuserdata%5Csuper_favourites%5CSuper+Favourites%5CRadio&amp;image=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CPlaylists%5CRadio-icon.jpg&amp;fanart=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CPlaylists%5CRadio-fanart.jpg&amp;content_type=&quot;,return)</setting>
    <setting id="mark_type" type="string">5</setting>
    <setting id="Custom8HomeItem.BGType" type="string"></setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="starttrailer" type="string"></setting>
    <setting id="YoutubeHomeItem.Widget" type="string"></setting>
    <setting id="Custom18HomeItem.MultiFanart" type="string"></setting>
    <setting id="Custom17HomeItem.SubMenu" type="string"></setting>
    <setting id="Custom13HomeItem.InfoLine" type="string"></setting>
    <setting id="RadioHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom5HomeItem.Label" type="string"></setting>
    <setting id="TVShowHomeItem.InfoLine" type="string">2</setting>
    <setting id="YoutubeHomeItem.path" type="string">ActivateWindow(Videos,&quot;plugin://plugin.program.super.favourites/?label=Youtube&amp;mode=400&amp;path=C%3A%5CUsers%<username>%5CAppData%5CRoaming%5CKodi%5Cuserdata%5Csuper_favourites%5CSuper+Favourites%5CYoutube&amp;image=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CMisc%5CYoutube.png&amp;fanart=C%3A%5CUsers%<username>%5CAppData%5CRoaming%5CKodi%5Caddons%5Cplugin.program.super.favourites%5Cfanart.jpg&amp;content_type=&quot;,return)</setting>
    <setting id="MovieHomeItem.WidgetType" type="string"></setting>
    <setting id="GamesHomeItem.Label" type="string">GAMES</setting>
    <setting id="Custom6HomeItem.Widget" type="string"></setting>
    <setting id="SettingsHomeItem.Path" type="string"></setting>
    <setting id="Custom9HomeItem.BGType" type="string"></setting>
    <setting id="extras_folder" type="string"></setting>
    <setting id="MovieHomeItem.Label" type="string"></setting>
    <setting id="MusicHomeItem.Path" type="string">ActivateWindow(music,library://music/artists.xml/,return)</setting>
    <setting id="custom9homeitem.disable" type="string"></setting>
    <setting id="musicgenreicons.path" type="string">artwork/musicartwork/musicgenreicons/</setting>
    <setting id="videogenreicons.path" type="string">artwork/videoartwork/videogenreiconsjpg</setting>
    <setting id="Custom19HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom14HomeItem.Widget" type="string"></setting>
    <setting id="MovieHomeItem.InfoLine" type="string">1</setting>
    <setting id="Custom10HomeItem.Icon" type="string"></setting>
    <setting id="ProgramsHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom17HomeItem.Icon" type="string"></setting>
    <setting id="Custom11HomeItem.Label" type="string"></setting>
    <setting id="MusicHomeItem.Label" type="string">MUSIC</setting>
    <setting id="PicturesHomeItem.InfoLine" type="string">5</setting>
    <setting id="LibraryHomeItem.path" type="string"></setting>
    <setting id="Custom14HomeItem.MultiFanart" type="string"></setting>
    <setting id="ShutdownHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom9HomeItem.Icon" type="string"></setting>
    <setting id="Custom6HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom8HomeItem.Icon" type="string"></setting>
    <setting id="Custom8HomeItem.WidgetLabel" type="string"></setting>
    <setting id="custom11homeitem.path" type="string"></setting>
    <setting id="Custom12HomeItem.MultiFanart" type="string"></setting>
    <setting id="RadioHomeItem.BGType" type="string">2</setting>
    <setting id="ConcertsHomeItem.Icon" type="string"></setting>
    <setting id="musicgenrefanartpath" type="string">artwork/musicartwork/musicgenrefanart/</setting>
    <setting id="TVShowHomeItem.BGType" type="string">3</setting>
    <setting id="BlurRadius" type="string"></setting>
    <setting id="Custom5HomeItem.BGType" type="string"></setting>
    <setting id="YoutubeHomeItem.Label" type="string">YOUTUBE</setting>
    <setting id="Custom12HomeItem.SubMenu" type="string"></setting>
    <setting id="ProgramsHomeItem.BGType" type="string"></setting>
    <setting id="FavoritesHomeItem.WidgetType" type="string"></setting>
    <setting id="TVShowHomeItem.SubMenu" type="string"></setting>
    <setting id="custom9homeitem.path" type="string"></setting>
    <setting id="weathericons.ext" type="string"></setting>
    <setting id="RadioHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/radio/</setting>
    <setting id="WeatherHomeItem.BGType" type="string"></setting>
    <setting id="BlurContainer" type="string"></setting>
    <setting id="Custom13HomeItem.BGType" type="string"></setting>
    <setting id="GamesHomeItem.BGType" type="string"></setting>
    <setting id="ItemToEdit.InfoLine" type="string"></setting>
    <setting id="Custom11HomeItem.SubMenu" type="string"></setting>
    <setting id="GamesHomeItem.Icon" type="string"></setting>
    <setting id="LibraryHomeItem.Widget" type="string"></setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="Custom5HomeItem.Widget" type="string"></setting>
    <setting id="custom17homeitem.path" type="string"></setting>
    <setting id="FavoritesHomeItem.WidgetLabel" type="string"></setting>
    <setting id="RadioHomeItem.Label" type="string">RADIO</setting>
    <setting id="MusicHomeItem.Widget" type="string"></setting>
    <setting id="Custom5HomeItem.SubMenu" type="string"></setting>
    <setting id="Custom11HomeItem.BGType" type="string"></setting>
    <setting id="TVShowHomeItem.Icon" type="string"></setting>
    <setting id="Custom9HomeItem.Label" type="string"></setting>
    <setting id="programshomeitem.disable" type="string"></setting>
    <setting id="LibraryHomeItem.SubMenu" type="string"></setting>
    <setting id="ShutdownHomeItem.Widget" type="string"></setting>
    <setting id="ShutdownHomeItem.InfoLine" type="string">8</setting>
    <setting id="MusicHomeItem.InfoLine" type="string">3</setting>
    <setting id="custom14homeitem.path" type="string"></setting>
    <setting id="TVShowHomeItem.Widget" type="string"></setting>
    <setting id="LibraryHomeItem.BGType" type="string">2</setting>
    <setting id="TVShowHomeItem.WidgetType" type="string"></setting>
    <setting id="LibraryHomeItem.WidgetLabel" type="string"></setting>
    <setting id="custom5homeitem.path" type="string"></setting>
    <setting id="WeatherHomeItem.Label" type="string"></setting>
    <setting id="LiveTVHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom15HomeItem.BGType" type="string"></setting>
    <setting id="weatherfanart.path" type="string"></setting>
    <setting id="Custom16HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom15HomeItem.Label" type="string"></setting>
    <setting id="RadioHomeItem.InfoLine" type="string">5</setting>
    <setting id="Custom5HomeItem.WidgetLabel" type="string"></setting>
    <setting id="MovieHomeItem.MultiFanart" type="string">1</setting>
    <setting id="custom13homeitem.disable" type="string"></setting>
    <setting id="WeatherHomeItem.Path" type="string"></setting>
    <setting id="Custom10HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom15HomeItem.SubMenu" type="string"></setting>
    <setting id="YoutubeHomeItem.InfoLine" type="string">5</setting>
    <setting id="WikiSearch" type="string"></setting>
    <setting id="Custom6HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom7HomeItem.InfoLine" type="string"></setting>
    <setting id="SettingsHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom13HomeItem.MultiFanart" type="string"></setting>
    <setting id="custom17homeitem.disable" type="string"></setting>
    <setting id="Podcastshomeitem.InfoLine" type="string">5</setting>
    <setting id="MusicHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom16HomeItem.Widget" type="string"></setting>
    <setting id="Custom8HomeItem.Label" type="string"></setting>
    <setting id="skininfo.autoclosevideoosd" type="string"></setting>
    <setting id="ConcertsHomeItem.InfoLine" type="string">7</setting>
    <setting id="Podcastshomeitem.Icon" type="string"></setting>
    <setting id="videogenrefanart.path" type="string">artwork/videoartwork/videogenrefanart/</setting>
    <setting id="MusicHomeItem.MultiFanart" type="string">4</setting>
    <setting id="ConcertsHomeItem.Label" type="string">CONCERTS</setting>
    <setting id="SettingsHomeItem.BGType" type="string"></setting>
    <setting id="Custom7HomeItem.BGType" type="string"></setting>
    <setting id="Custom13HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom9HomeItem.WidgetType" type="string"></setting>
    <setting id="VideosHomeItem.Path" type="string"></setting>
    <setting id="Custom13HomeItem.Widget" type="string"></setting>
    <setting id="Custom6HomeItem.SubMenu" type="string"></setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="Custom8HomeItem.WidgetType" type="string"></setting>
    <setting id="Custom19HomeItem.Widget" type="string"></setting>
    <setting id="GamesHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/games/</setting>
    <setting id="RadioHomeItem.Widget" type="string"></setting>
    <setting id="PicturesHomeItem.Label" type="string"></setting>
    <setting id="weathericons.name" type="string">Weather Icons - HD Animated</setting>
    <setting id="Custom15HomeItem.WidgetType" type="string"></setting>
    <setting id="GamesHomeItem.WidgetType" type="string"></setting>
    <setting id="SettingsHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/settings/</setting>
    <setting id="ConcertsHomeItem.Path" type="string">ActivateWindow(Videos,&quot;library://video/musicvideos/artists.xml/&quot;,return)</setting>
    <setting id="Custom10HomeItem.MultiFanart" type="string"></setting>
    <setting id="Custom16HomeItem.SubMenu" type="string"></setting>
    <setting id="Custom14HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom9HomeItem.Widget" type="string"></setting>
    <setting id="RadioHomeItem.Icon" type="string"></setting>
    <setting id="Custom9HomeItem.MultiFanart" type="string"></setting>
    <setting id="Custom14HomeItem.WidgetType" type="string"></setting>
    <setting id="moviehomeitem.disable" type="string"></setting>
    <setting id="Custom18HomeItem.WidgetLabel" type="string"></setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="Games.Fallback" type="string"></setting>
    <setting id="ProgramsHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/apps/</setting>
    <setting id="Custom14HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom17HomeItem.Label" type="string"></setting>
    <setting id="Custom18HomeItem.WidgetType" type="string"></setting>
    <setting id="Podcastshomeitem.path" type="string">ActivateWindow(Music,&quot;plugin://plugin.program.super.favourites/?label=Podcasts&amp;mode=400&amp;path=C%3A%5CUsers%<username>%5CAppData%5CRoaming%5CKodi%5Cuserdata%5Csuper_favourites%5CSuper+Favourites%5CPodcasts&amp;image=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CMisc%5CPodcasts.jpg&amp;fanart=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CPlaylists%5CPodcasts-fanart.jpg&amp;content_type=&quot;,return)</setting>
    <setting id="Music.Fallback" type="string"></setting>
    <setting id="Custom9HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom17HomeItem.MultiFanart" type="string"></setting>
    <setting id="Custom6HomeItem.MultiFanart" type="string"></setting>
    <setting id="Custom18HomeItem.InfoLine" type="string"></setting>
    <setting id="FavoritesHomeItem.Path" type="string"></setting>
    <setting id="Custom12HomeItem.Icon" type="string"></setting>
    <setting id="GamesHomeItem.Path" type="string">ActivateWindow(Programs,&quot;plugin://plugin.program.super.favourites/?label=Games&amp;mode=400&amp;path=C%3A%5CUsers%<username>%5CAppData%5CRoaming%5CKodi%5Cuserdata%5Csuper_favourites%5CSuper+Favourites%5CGames&amp;image=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CPlaylists%5CGames-icon1.png&amp;fanart=special%3A%2F%2Fhome%2Fartwork%5CSkinBackgrounds%5CPlaylists%5CGames-fanart.jpg&amp;content_type=&quot;,return)</setting>
    <setting id="Custom15HomeItem.InfoLine" type="string"></setting>
    <setting id="PicturesHomeItem.Path" type="string"></setting>
    <setting id="LiveTVHomeItem.Label" type="string"></setting>
    <setting id="SettingsHomeItem.Icon" type="string"></setting>
    <setting id="FavoritesHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom13HomeItem.WidgetType" type="string"></setting>
    <setting id="LibraryHomeItem.disable" type="string">True</setting>
    <setting id="custom15homeitem.disable" type="string"></setting>
    <setting id="WeatherHomeItem.InfoLine" type="string">5</setting>
    <setting id="flat_back" type="string">FFFC2847</setting>
    <setting id="ItemToEdit.MultiFanart" type="string"></setting>
    <setting id="SettingsHomeItem.Label" type="string"></setting>
    <setting id="Custom7HomeItem.Label" type="string"></setting>
    <setting id="Wikipedia.Format.Link" type="string">[COLOR FFFC2847]{}[/COLOR]</setting>
    <setting id="LibraryHomeItem.Icon" type="string"></setting>
    <setting id="weatherhomeitem.disable" type="string"></setting>
    <setting id="Custom14HomeItem.Icon" type="string"></setting>
    <setting id="ShutdownHomeItem.Icon" type="string"></setting>
    <setting id="Custom17HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom5HomeItem.MultiFanart" type="string"></setting>
    <setting id="Podcastshomeitem.WidgetLabel" type="string"></setting>
    <setting id="Custom12HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom16HomeItem.MultiFanart" type="string"></setting>
    <setting id="Podcastshomeitem.BGType" type="string">2</setting>
    <setting id="WeatherHomeItem.Widget" type="string">11</setting>
    <setting id="VideosHomeItem.BGType" type="string"></setting>
    <setting id="Custom19HomeItem.SubMenu" type="string"></setting>
    <setting id="MovieHomeItem.SubMenu" type="string"></setting>
    <setting id="YoutubeHomeItem.WidgetType" type="string"></setting>
    <setting id="TVShowHomeItem.WidgetLabel" type="string"></setting>
    <setting id="MovieHomeItem.Path" type="string"></setting>
    <setting id="Custom_BG" type="string"></setting>
    <setting id="LibraryHomeItem.Label" type="string"></setting>
    <setting id="Custom10HomeItem.Widget" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="custom6homeitem.path" type="string"></setting>
    <setting id="PicturesHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/pictures/</setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="FavoritesHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/favourites/</setting>
    <setting id="Custom7HomeItem.Widget" type="string"></setting>
    <setting id="custom12homeitem.disable" type="string"></setting>
    <setting id="MovieHomeItem.Icon" type="string"></setting>
    <setting id="LibraryHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/library/</setting>
    <setting id="custom5homeitem.disable" type="string"></setting>
    <setting id="Wikipedia.Format.Emphasis" type="string">[B][I]{} [/B][/I]</setting>
    <setting id="Custom10HomeItem.BGType" type="string"></setting>
    <setting id="VideosHomeItem.Label" type="string"></setting>
    <setting id="MusicHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom10HomeItem.SubMenu" type="string"></setting>
    <setting id="GamesHomeItem.WidgetLabel" type="string"></setting>
    <setting id="VideosHomeItem.Icon" type="string"></setting>
    <setting id="Custom19HomeItem.BGType" type="string"></setting>
    <setting id="livetv.infobartype" type="string"></setting>
    <setting id="Custom6HomeItem.Icon" type="string"></setting>
    <setting id="Custom19HomeItem.Label" type="string"></setting>
    <setting id="GamesHomeItem.Widget" type="string"></setting>
    <setting id="MusicHomeItem.SubMenu" type="string"></setting>
    <setting id="TVShowHomeItem.MultiFanart" type="string">2</setting>
    <setting id="Custom17HomeItem.WidgetType" type="string"></setting>
    <setting id="WeatherHomeItem.SubMenu" type="string"></setting>
    <setting id="custom18homeitem.path" type="string"></setting>
    <setting id="MusicHomeItem.BGType" type="string">3</setting>
    <setting id="Custom11HomeItem.MultiFanart" type="string"></setting>
    <setting id="WeatherHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/weather/</setting>
    <setting id="Custom5HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom7HomeItem.WidgetLabel" type="string"></setting>
    <setting id="FavoritesHomeItem.Widget" type="string"></setting>
    <setting id="titleseason" type="string"></setting>
    <setting id="Custom18HomeItem.Widget" type="string"></setting>
    <setting id="Custom16HomeItem.Label" type="string"></setting>
    <setting id="SettingsHomeItem.WidgetLabel" type="string"></setting>
    <setting id="weatherfanart.ext" type="string"></setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="Custom19HomeItem.Icon" type="string"></setting>
    <setting id="skininfo.autoclosemusicosd" type="string"></setting>
    <setting id="custom11homeitem.disable" type="string"></setting>
    <setting id="settingshomeitem.disable" type="string"></setting>
    <setting id="ShutdownHomeItem.BGType" type="string"></setting>
    <setting id="Custom11HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom17HomeItem.Widget" type="string"></setting>
    <setting id="Custom12HomeItem.Label" type="string"></setting>
    <setting id="YoutubeHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom14HomeItem.BGType" type="string"></setting>
    <setting id="custom15homeitem.path" type="string"></setting>
    <setting id="melodyplaylist" type="string">special://skin/tajo_melodies</setting>
    <setting id="WeatherHomeItem.WidgetLabel" type="string"></setting>
    <setting id="ProgramsHomeItem.WidgetLabel" type="string"></setting>
    <setting id="FavoritesHomeItem.InfoLine" type="string">5</setting>
    <setting id="mark_color" type="string">FF3CB371</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="Custom12HomeItem.WidgetType" type="string"></setting>
    <setting id="Podcastshomeitem.disable" type="string"></setting>
    <setting id="LiveTVHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom13HomeItem.Icon" type="string"></setting>
    <setting id="Custom11HomeItem.Widget" type="string"></setting>
    <setting id="PicturesHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom14HomeItem.Label" type="string"></setting>
    <setting id="BlurSaturation" type="string"></setting>
    <setting id="Custom8HomeItem.Widget" type="string"></setting>
    <setting id="Custom16HomeItem.InfoLine" type="string"></setting>
    <setting id="ConcertsHomeItem.WidgetType" type="string"></setting>
    <setting id="Podcastshomeitem.Label" type="string">PODCASTS</setting>
    <setting id="ShutdownHomeItem.Path" type="string"></setting>
    <setting id="Podcastshomeitem.MultiFanart" type="string">artwork/skinbackgrounds/podcasts/</setting>
    <setting id="ConcertsHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/concerts/</setting>
    <setting id="Custom16HomeItem.Icon" type="string"></setting>
    <setting id="videoshomeitem.disable" type="string"></setting>
    <setting id="LiveTVHomeItem.SubMenu" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="Custom9HomeItem.SubMenu" type="string"></setting>
    <setting id="custom19homeitem.path" type="string"></setting>
    <setting id="FavoritesHomeItem.Label" type="string">FAVOURITES</setting>
    <setting id="Podcastshomeitem.SubMenu" type="string"></setting>
    <setting id="choice_color" type="string">3</setting>
    <setting id="custom7homeitem.disable" type="string"></setting>
    <setting id="VideosHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/videos/</setting>
    <setting id="LiveTVHomeItem.Icon" type="string"></setting>
    <setting id="LiveTVHomeItem.Widget" type="string"></setting>
    <setting id="Custom7HomeItem.Icon" type="string"></setting>
    <setting id="YoutubeHomeItem.Icon" type="string"></setting>
    <setting id="ProgramsHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom10HomeItem.WidgetType" type="string"></setting>
    <setting id="Custom12HomeItem.BGType" type="string"></setting>
    <setting id="shutdownhomeitem.disable" type="string"></setting>
    <setting id="Custom15HomeItem.Widget" type="string"></setting>
    <setting id="custom6homeitem.disable" type="string"></setting>
    <setting id="PicturesHomeItem.Icon" type="string"></setting>
    <setting id="custom18homeitem.disable" type="string"></setting>
    <setting id="Custom18HomeItem.Label" type="string"></setting>
    <setting id="LiveTVHomeItem.BGType" type="string"></setting>
    <setting id="Custom13HomeItem.SubMenu" type="string"></setting>
    <setting id="Custom11HomeItem.InfoLine" type="string"></setting>
    <setting id="custom8homeitem.disable" type="string"></setting>
    <setting id="overlay.toggle" type="string"></setting>
    <setting id="ConcertsHomeItem.disable" type="string"></setting>
    <setting id="Custom9HomeItem.WidgetLabel" type="string"></setting>
    <setting id="custom10homeitem.disable" type="string"></setting>
    <setting id="gameshomeitem.disable" type="string"></setting>
    <setting id="VideosHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom10HomeItem.InfoLine" type="string"></setting>
    <setting id="ItemToEdit.BGType" type="string"></setting>
    <setting id="Custom16HomeItem.BGType" type="string"></setting>
    <setting id="Custom18HomeItem.BGType" type="string"></setting>
    <setting id="TMDbHelper.AutoUpdate.LastTime" type="string">2024-03-23T00:13:36</setting>
    <setting id="custom8homeitem.path" type="string"></setting>
    <setting id="custom14homeitem.disable" type="string"></setting>
    <setting id="Custom18HomeItem.SubMenu" type="string"></setting>
    <setting id="Pictures.Fallback" type="string"></setting>
    <setting id="ProgramsHomeItem.Path" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="BackgroundInterval" type="string"></setting>
    <setting id="VideosHomeItem.InfoLine" type="string">5</setting>
    <setting id="Custom15HomeItem.MultiFanart" type="string"></setting>
    <setting id="LiveTVHomeItem.InfoLine" type="string"></setting>
    <setting id="MovieHomeItem.BGType" type="string">3</setting>
    <setting id="Custom19HomeItem.InfoLine" type="string"></setting>
    <setting id="tvshowhomeitem.disable" type="string"></setting>
    <setting id="SettingsHomeItem.InfoLine" type="string">8</setting>
    <setting id="Custom8HomeItem.MultiFanart" type="string"></setting>
    <setting id="YoutubeHomeItem.disable" type="string"></setting>
    <setting id="Custom8HomeItem.SubMenu" type="string"></setting>
    <setting id="FavoritesHomeItem.BGType" type="string"></setting>
    <setting id="LiveTVHomeItem.Path" type="string"></setting>
    <setting id="YoutubeHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/playlists/Youtube-fanart1.jpg</setting>
    <setting id="VideosHomeItem.WidgetType" type="string"></setting>
    <setting id="ConcertsHomeItem.SubMenu" type="string"></setting>
    <setting id="ProgramsHomeItem.Label" type="string"></setting>
    <setting id="ShutdownHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/power/</setting>
    <setting id="MovieHomeItem.WidgetLabel" type="string"></setting>
    <setting id="ShutdownHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom15HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom12HomeItem.InfoLine" type="string"></setting>
    <setting id="MovieHomeItem.Widget" type="string"></setting>
    <setting id="Podcastshomeitem.Widget" type="string"></setting>
    <setting id="YoutubeHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom12HomeItem.Widget" type="string"></setting>
    <setting id="PicturesHomeItem.BGType" type="string">2</setting>
    <setting id="WeatherHomeItem.WidgetType" type="string">3</setting>
    <setting id="RadioHomeItem.WidgetType" type="string"></setting>
    <setting id="TVShowHomeItem.Path" type="string"></setting>
    <setting id="FavoritesHomeItem.Icon" type="string"></setting>
    <setting id="weathericons.path" type="string">resource://resource.images.weathericons.hd.animated/</setting>
    <setting id="custom13homeitem.path" type="string"></setting>
    <setting id="LibraryHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom15HomeItem.Icon" type="string"></setting>
    <setting id="ItemToEdit.Widget" type="string"></setting>
    <setting id="ShutdownHomeItem.SubMenu" type="string"></setting>
    <setting id="custom10homeitem.path" type="string"></setting>
    <setting id="Custom17HomeItem.BGType" type="string"></setting>
    <setting id="Custom19HomeItem.MultiFanart" type="string"></setting>
    <setting id="Custom17HomeItem.WidgetLabel" type="string"></setting>
    <setting id="MusicHomeItem.Icon" type="string"></setting>
    <setting id="Custom6HomeItem.Label" type="string"></setting>
    <setting id="Podcastshomeitem.WidgetType" type="string"></setting>
    <setting id="favoriteshomeitem.disable" type="string"></setting>
    <setting id="livetvhomeitem.disable" type="string">True</setting>
    <setting id="PicturesHomeItem.Widget" type="string"></setting>
    <setting id="LiveTVHomeItem.MultiFanart" type="string">artwork/skinbackgrounds/livetv/</setting>
    <setting id="Custom13HomeItem.Label" type="string"></setting>
    <setting id="Custom11HomeItem.Icon" type="string"></setting>
    <setting id="Custom7HomeItem.WidgetType" type="string"></setting>
    <setting id="musichomeitem.disable" type="string"></setting>
    <setting id="ShutdownHomeItem.Label" type="string">POWER</setting>
    <setting id="ItemToEdit.WidgetType" type="string"></setting>
    <setting id="Custom5HomeItem.WidgetType" type="string"></setting>
    <setting id="ProgramsHomeItem.InfoLine" type="string">5</setting>
    <setting id="Custom8HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom6HomeItem.BGType" type="string"></setting>
    <setting id="Custom19HomeItem.WidgetType" type="string"></setting>
    <setting id="theme_text" type="string">FFFC2847</setting>
    <setting id="SettingsHomeItem.Widget" type="string"></setting>
    <setting id="ItemToEdit.WidgetLabel" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="custom16homeitem.path" type="string"></setting>
    <setting id="RadioHomeItem.SubMenu" type="string"></setting>
    <setting id="GamesHomeItem.InfoLine" type="string">5</setting>
    <setting id="Custom14HomeItem.SubMenu" type="string"></setting>
    <setting id="ConcertsHomeItem.WidgetLabel" type="string"></setting>
    <setting id="ProgramsHomeItem.Icon" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="Custom18HomeItem.Icon" type="string"></setting>
    <setting id="Custom5HomeItem.Icon" type="string"></setting>
    <setting id="custom12homeitem.path" type="string"></setting>
    <setting id="VideosHomeItem.Widget" type="string"></setting>
    <setting id="ConcertsHomeItem.Widget" type="string"></setting>
    <setting id="custom16homeitem.disable" type="string"></setting>
    <setting id="LibraryHomeItem.InfoLine" type="string">5</setting>
    <setting id="PicturesHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom6HomeItem.WidgetType" type="string"></setting>
    <setting id="ServiceInterval" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="ConcertsHomeItem.BGType" type="string"></setting>
</settings>
